.card {
    width: 13vw !important;
}

.badge-orange{
    background-color: orange;
}
.badge-purple{
    background-color: purple;
    color: white;
}

#current-temperature, 
#current-humidity, 
#current-windspeed, 
#current-uvindex{
    padding: 5px;
    border-radius: 1px;
}